[Unit]
Description=Gudfiles file chooser portal backend
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=dbus
BusName=org.freedesktop.impl.portal.desktop.omarchy.FilePicker
ExecStart=@BIN_DIR@/omarchy-file-picker-portal
Restart=on-failure

