[Desktop Entry]
Name=Gudfiles
Comment=Browse, organize and preview files
Exec=omarchy-file-picker --demo --multiple
Icon=folder-pictures-symbolic
Terminal=false
Type=Application
Categories=Utility;FileTools;
StartupWMClass=org.omarchy.FilePicker
